doctype html
html(lang="en")
  head
    title Hello World :: Vulcan - https://git.io/vulcan
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="robots", content="index, follow")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100")
    link(rel="stylesheet" href="/app.css")
  body
    div.container
      div.message
        h1 Hello World
        p Edit this file in #[strong app/views/welcome.jade].
    script(src="/vendors.js")
    script(src="/app.js")
    
    
